body {
    font-family:Verdana, Geneva, sans-serif;
    color:black;
    min-width:720px;
    margin-left:0px;
    margin-right:0px;
}
a {
    color:black;
}

/* unvisited link */
a:link{
    color: black;
    text-decoration: none;
}

/* visited link */s
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: none;
}

/* selected link */
a:active {
    color: black;
    text-decoration: none;
}

/*Access */
.accessTab {
    border: 1px solid black;
    border-right:0px;
    padding: 5px;
    margin: -10px;
    margin-bottom: 0px;
    min-width: 100;
    height: 20px;
}

.login{
    float:right;
    margin-right:10px;
}

.accessInput {
    border: 1px solid black;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-family:Verdana, Geneva, sans-serif;
}

.accessLogout{
    border: 1px solid black;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-family:Verdana, Geneva, sans-serif;
    background-color:white;
}

/*Nav */
.navigation {
    min-height:20px;
    text-align:center;
}
.links{
    color:inherit;
    min-width:60px;
    text-align:center;
    padding:3px;
    margin-left:3px;
    margin-right:3px;
    display:inline-block; 
    border-bottom:1px solid white;
}

.links:hover {
    background-color:lightgrey;
    border-bottom:1px solid black;
}

.links a {
    display: block;
    width:100%;
    height:20px;
}

.title {
    text-align:center;
    font-size:20pt;
    margin:20px;
}

/*content*/
.content {
    width:700px;
    margin:auto;
    
}

.contentItem {
    margin-bottom:20px;
    
}
.contentHeader{
    margin-bottom:5px;
    
}
.contentTitle{
    float:left;
    font-size:20px;
    margin-left:3px;
    margin-right:5px;
}
.contentOwner{
    padding-top:8px;
    font-size:12px;
    vertical-align:bottom;
    color:grey;
}

.contentImage {
    width:690px;
    height:400px;
    border:1px solid black;
    -webkit-border-radius: 2px;
    border-radius:2px; 
    overflow: hidden;
    margin:auto;
}

.contentText{
    width:690px;
    margin:auto;
    margin-top:5px;
    margin-bottom:3px;
    font-size:14px;
}

.contentDate{
     font-size:12px;
     margin-left:5px;
     color:grey;
}

/*Exact Content */

.exactContent {
    width:700px;
    margin:auto;
}

.contentExactTitle{
    text-align:center;
    font-size:20pt;
    margin:20px;
    margin-bottom:10px;
}

.contentExactOwner{
    font-size:14px;
    color:grey;
    text-align:center;
    margin:20px;
    margin-top:0px;
}

.contentExactImage{
    width:690px;
    height:400px;
    border:1px solid black;
    border-radius:2px; 
    overflow: hidden;
    margin:auto;
}

.contentExactText{
    width:690px;
    margin:auto;
    margin-top:5px;
    margin-bottom:3px;
    font-size:14px;
}

.contentExactDate{
    margin-left:5px;
    font-size:12px;
     color:grey;
}

/* Admin CSS*/
.adminPages {
    width:700px;
    margin:auto;
}
.pageNode{
    margin:5px;
    padding:5px;
    border:1px solid black;
    border-radius:2px;
}
.pageNode input {
    border:1px solid black;
    border-radius:2px;
}

.adminContent{
    width:700px;
    margin:auto;
}

.contentNode{
    margin:5px;
    padding:5px;
    border:1px solid black;
    border-radius:2px;
}
.contentNode input {
    border:1px solid black;
    border-radius:2px;
}
.adminAccess {
    width:700px;
    margin:auto;
}
.authorizedNode {
    margin:5px;
    padding:5px;
    border:1px solid black;
    border-radius:2px;
}

.authorizedNode span {
    min-width: 130px;
    padding:0 5px;
    display: inline-block;
}

.git {
    margin-top:5px;
    margin-bottom:5px;
    border-top:1px solid black;
    border-bottom:1px solid black;
}
